
{
    "extends": "@istanbuljs/nyc-config-babel",
    "all": true,
    "exclude": [
      "**/cypress/**",
      "**/coverage/**",
      "karma.conf.js",
      "src/test.ts",
      "**/*.spec.ts"
    ],
    "reporter": [
      "html"
    ]
}