
{
  "extends": "istanbul-instrumenter-loader",
    "all": true,
    "exclude": [
      "karma.conf.js",
      "src/test.ts",
      "**/*.spec.ts"
    ],
    "reporter": [
      "html"
    ],
    "excludeAfterRemap":false 
}